.naviBackground {
  background-color: white;
  height: 50px;
  width: 100%;
  vertical-align: middle;
  /* border: 1px solid black; */
  border-bottom: 1px solid rgb(175, 174, 174);
}

.naviMenu {
  background-color: white;
  height: 50px;
  width: 1200px;
  text-align: center;
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
}

.naviMenu span {
  font-size: 30px;
  font-weight: 400;
  margin-right: 50px;
}

.naviMenu .wholeCategory {
  font-weight: bold;
}

.naviMenu_fixed {
  position: fixed;
  background-color: #faa928;
  height: 40px;
  width: 100%;
  padding-top: 10px;
  border-bottom: 1px solid rgb(175, 174, 174);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
.naviMenu_fixed a:visited {
  color: white;
}
