#joinTitle {
  margin-top: 3%;
  text-align: left;
}

.required {
  margin-top: -40px;
  text-align: right;
  font-size: 12px;
}

.joinTbl {
  border-spacing: 0px;
  width: 100%;
  margin-top: 2%;
  /* margin-left: 2%; */
  border-top: 3px solid #ffa928;
  border-bottom: 3px solid #ffa928;
}

.joinTbl td, .joinTbl th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 1px solid #f2ab4182;
  font-size: 12px;
}

.joinTbl th {
  width: 150px;
  /* background-color: antiquewhite; */
  background-color: antiquewhite;
  border-right: 1px solid #f2ab4182;
  text-align: left;
  font-size: 12px;
}

.joinTbl input {
  height: 20px;
}

.joinTbl #birthYear {
  text-align: right;
  width: 50px;
}
.joinTbl #birthMonth,
#birthDay {
  text-align: right;
  width: 20px;
}

.terms {
  background-color: antiquewhite;
  border: 1px solid #f2ab4182;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

#agreeAll {
  font-size: 14px;
}
.terms textarea {
  font-size: 12px;
  resize: none;
  padding: 15px;
  height: 200px;
  width: 95%;
  outline: none;
}

.terms label {
  font-weight: bold;
}

#joinBtn {
  width: 150px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

#joinBtn button {
  height: 40px;
  width: 150px;
  text-align: center;
}

.verifyMsg {
  color: red;
  font-weight: bold;
}

.postmodal1 {
  position: fixed;
  top: 18.2%;
  right: 30%;
}
