.myinfo-wrapper {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.join-title {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.join-title h2 {
  margin-left: 30px;
}
.subtitle {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.subtitle h3 {
  margin-left: 30px;
}
.added-info {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2%;
}
.added-info h3 {
  margin-left: 30px;
}
.modifyButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  text-align: right;
}
.modifyButton div {
  margin-right: 15px;
}
.set-btn {
  display: flex;
  flex-direction: row;
  left: 0;
  width: 50%;
}
