.allmenu-wrapper {
}

.allmenu-grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 그리드 아이템의 최소 너비와 최대 너비를 설정합니다. */
  gap: 20px;
}
.allmenu-thumbnail {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
}
.allmenu-thumbnail img {
  width: 100%;
  height: 300px;
}
.allmenu-thumbnail-detail {
  margin-top: 10px;
}
.allmenu-thumbnail-detail p {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.allmenu-thumbnail-detail button {
  background-color:  hsl(130, 98%, 66%);
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.cart-popup-wrapper {
  position: fixed;
  top: 10%;
  left: 20%;
  width: 900px;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.image-hover {
  transition: transform 0.3s ease;
  width: 500px;
  height: 500px;
  margin-bottom: 40px;
}

.image-hover:hover {
  transform: scale(1.1);
}
.allmenu-detail-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}