.detail-wrapper {
  display: grid;
  width: 1200px;
}
.submenu {
  display: flex;
}

.dropdown {
  align-items: end;
}
.detail-high{
  display: flex;
  justify-content: center;
  align-items: center;
;
}
.detail-image{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  align-items: center;
  justify-content: center;
}
.product-data{
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-hover {
  transition: transform 0.3s ease;
  width: 500px;
  height: 500px;
}

.image-hover:hover {
  transform: scale(1.1);
}

.menu-item{
  font-size: 12pt;
}
.menu-view{
max-height: 300px;
overflow-y: auto;
}