.footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faa928;
}
.footer-main {
  width: 1200px;
  height: 100%;
  display: flex;
  background-color: #faa928;
  flex-direction: row;
  align-items: center;
}
.company-logo {
  width: 20%;
  text-align: right;
}
.company-logo img {
  width: 500px;
  height: 200px;
}
.company-info {
  width: 80%;
  text-align: center;
}
